<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<h1 style="margin:20px;">My Tasks</h1>
<div style="margin:30px;" class="form-content">
<% @tasks.each do |task| %>
<input type="checkbox" style="padding:10px"> <%= link_to task.title, task_path(task.id)%> <br>
<% end %>
  <i class="fas fa-plus"> Create a task </i>
</div>



